@import "reset.css" ;
@import "header.css, topnav.css, column.css, left.css, right.css, row.css, compra.css, produto.css, .cadira.css, mesa.css footer.css";
@import "grid.css" ;
/* Fluid grid containers that requiere */
.card-grid {
display: grid-flex;
grid-tamplete.columns: repeat(auto-fit, minmax(250px, 3fr));
gap: 10px;
flex-wrap: wrap;
}
/* Style the header */
.@media (min-width: 110px) {
  box-sizing: border-box;
  grid: auto auto auto;
}
/* Style the header */
*{
  box-sizing: border-box;
  grid: auto;
}
body {
background-color:#000000;
  margin: 3px;
  border: 0px;
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav + menu > ul{
  overflow: hidden;
  background-color: #333ddd;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd000;
  color: #000000;
}
.footer{
position:fixed;
background-color: #F1F1F2;
text-align: center;
padding: 10px;
margin: 3px;
border: 0px;
font-size:14px;
}
/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 32%;
  height: auto;
}
/* left middle and right column*/
.column.side {
  width: 96%;
}
.column.left {
  width: 0%;
}
.column.middle {
  width: 96%;
}
.column.right {
  width: 0%;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: grid;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side .column.middle {
    width: 96%;
    height:auto;
  }
}
.column.left > .img {
position: vertical;
padding: auto;
margin: 2px;
border: 0px;
display: auto;
width: 100px;
height: 150px;
}*/
.column.middle {
float: center;
width: 50%;
font-size:14px;
margin:2px;
border: 0px;
display: auto;
width: 100px;
height: 150px;
}
.column.right {
position: vertical;
padding: auto;
margin: 2px;
border: 0px;
display: auto;
width: 48%;
height: auto;
}
/*Formulário*/
.fundo.fabrica + .app > .pagina{
display: grid;
width: 96%;
float: middle, justify;
padding: auto;
margin:10px;
border:2px;
font-size:16px;
}
.caption > form + fieldset{
display: grid;
width: 96%;
float: middle, justify;
padding: auto;
margin:10px;
border:2px;
font-size:16px;}
